# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
fintech_env/
ethopian_bank_reviews.csv
data/

# Data folders (raw + processed)
data/raw/
data/processed/

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
